{% extends 'base.html.twig' %}

{% block title %}
	IQuestions - Access Denied !
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-danger text-center m-5">Vous n'avez pas accès à cette page car votre compte a été bloqué</h3>
        <p class="text-danger text-center m-5">Veuillez contacter notre support !</p>
    </div>
{% endblock %}